@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:royalblue">Four Season Hotel Managment System</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img src="~/Uploads/Hotel2.jpg" style="height:600px;width:1000px;" />
    </div>
</div>
